.nombreChat{
    font-size: 13px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mensaje{
    max-width: 175px;
    width: fit-content;
    color: white;
    border-radius: 5px;
}

.no-mio.hombre{
    background-color: lightblue;
}
.mio.hombre{
    background-color: dodgerblue;
}

.no-mio.mujer{
    background-color: hotpink;
}
.mio.mujer{
    background-color: deeppink;
}

.caja-chat{
    overflow-y: scroll;
    max-height: 245px;
}

.cien-por-cien{
    height: 100%
}

.nombre-chat{
    font-size: 12px;
}