.nombreChat{
    font-size: 13px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mensaje{
    max-width: 175px;
    width: fit-content
}

.mio{
    border-radius: 5px;
    background-color: lightblue;
    color: white;
}

.no-mio{
    border-radius: 5px;
    background-color: lightskyblue;
    color: white;
}

.caja-chat{
    overflow-y: scroll;
    max-height: 250px;
}

.cien-por-cien{
    height: 100%
}

.nombre-chat{
    font-size: 10px;
}